/*
*Created by Jonathan & mikr
*date created 04-01-12
*modified 06-22-12
*
*/
html {
	width:100%;
	padding:10px;
}
body {
	text-align: center; /* IE5/Win workaround (centers div)*/
	font-size: 1em;
	font-family: VegurMedium, Tahoma, Arial, Helvetica, sans-serif;
	color: #62615c;
	background-color: #480303;
}
a, a:link, a:active, a:visited, a:hover { color: inherit; text-decoration: inherit;}
#page {
	width: 960px;
	margin: 0px auto;
	text-align: left; /* IE5/Win workaround (undoes centered mischief)*/
	min-height:100%;
}

/*--------------------------------------

				Header
			
---------------------------------------*/
#header {
	width:100%;
}
#logo {
	position: relative;
	float: left;
}

/*--------------------------------------
	  Social, search & quick links
---------------------------------------*/
#search {
    float: right;
    font-family: VegurRegular, Tahoma,Arial,Helvetica,sans-serif;
    text-align: right;
    color: #FFFFFF;
    vertical-align: bottom;
}

/** Social Links **/
#social ul {
	display: block;
	float: right;
	list-style-type: none;
	text-align: right;
	margin-top: 6px;
}
#social li {
	float: left;
}
#social li a, #social li a:hover, #social li a:active, #social li a:visited {
	text-decoration: none;
}
.wts-icon {
	height: 19px;
	background-image: url('../img/social-icons/transparent-over&white.png');
	display: block;
}
.wts-youtube {
	background-position:0px 0px;
	width: 27px;
}
.wts-youtube:hover {
	background-position:0px -19px;
}
.wts-twitter {
	background-position:-27px 0px;
	width: 20px;
}
.wts-twitter:hover {
	background-position:-27px -19px;
}
.wts-facebook {
	background-position:-47px 0px;
	width: 21px;
}
.wts-facebook:hover {
	background-position:-47px -19px;
}
.wts-rssfeed {
	background-position:-68px 0px;
	width: 21px;
}
.wts-rssfeed:hover {
	background-position:-68px -19px;
}

/** Search bar and quick links **/
#searchWrapper {
	clear: both;
	float: left;
	margin-top: 6px;
}
#searchWrapper form { display:inline; }
.searchSubmit {
	border: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	position:relative;
	vertical-align: bottom;
}
.searchText {
	border-style: hidden;
	height: 29px;
	width: 50px;
	background-color: transparent;
	background: url(../img/searchbar.png) repeat-x;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: bottom;
	position:relative;
	text-align: right;
}
.searchEnd {
	width:5px;
	height:29px;
	display: inline;
	background: url(../img/searchside.png) no-repeat;
	float:right;
}
#quick {
	float: right;
	position: relative;
	margin-top: 7px;
	bottom: 0px;
	padding: 0px;
	width: 185px;
	height: 27px;
	vertical-align: bottom;
	background-color: #f4f2e7;
	/*background-image: -webkit-gradient(linear, top, bottom, from(rgb(244, 242, 232)), to(rgb(230,227,214)));*/
	background-image: -webkit-linear-gradient(top, rgb(244, 242, 232) 10px, rgb(230,227,214));
	background-image: -moz-linear-gradient(top, rgb(244, 242, 232) 10px, rgb(230,227,214));
	background-image: -o-linear-gradient(top, rgb(244, 242, 232) 10px, rgb(230,227,214));
	background-image: -ms-linear-gradient(top, rgb(244, 242, 232) 10px, rgb(230,227,214));
	background-image: linear-gradient(top, rgb(244, 242, 232) 10px, rgb(230,227,214));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f4f2e8', EndColorStr='#e6e3d6');
	border-top: solid 1px #e6e3d6;
}

#quick ul {
	margin: 0; padding: 0; border: 0;
	list-style-type: none;
	text-align: right;
	text-transform: uppercase;

}
#quick li {
    margin: 0; padding: 0; border: 0;
    padding-top: 4px;
    padding-bottom: 5px;
    display: inline;
    line-height: 27px;
    padding-left: 6px;
    padding-right: 6px;
}
#quick li:hover {
	background-color: #f4f3e7; /*f4f2e8*/
	-webkit-box-shadow:inset 0em 0.08em 0.333em 0.175em #BBBBBB;
	-moz-box-shadow: inset 0em 0.08em 0.333em 0.175em #BBBBBB;
	-o-box-shadow: inset 0em 0.08em 0.333em 0.175em #BBBBBB;
	-ms-box-shadow: inset 0em 0.08em 0.333em 0.175em #BBBBBB;
	box-shadow: inset 0em 0.08em 0.333em 0.175em #BBBBBB;
	}

#quick a {
	font-family: VegurRegular, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.84em;
	font-weight: normal;
	color: #545342;
	text-transform: uppercase;
	text-decoration: none;
}
#quick a:link, #page_search a:visited {
	color: #545342;
	text-decoration: none;
}
#quick a:hover, #page_search a:active {
	text-decoration: none;
	color: #545342;
}

/*--------------------------------------
		  Navigation
---------------------------------------*/
/* for some reason this does not work? on the id of nav, "background-image: url("img/nav-texture.png") no-repeat;" */
}
#nav {
	clear: both;
	position: relative;
	width: 100%;
	height: 46px;
	margin-bottom: 16px;
	background-color: #f1f0e5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(241, 240, 229)), to(rgb(192, 191, 184)));
	background-image: -webkit-linear-gradient(top, rgb(241, 240, 229), rgb(192, 191, 184));
	background-image: -moz-linear-gradient(top, rgb(241, 240, 229), rgb(192, 191, 184));
	background-image: -o-linear-gradient(top, rgb(241, 240, 229), rgb(192, 191, 184));
	background-image: -ms-linear-gradient(top, rgb(241, 240, 229), rgb(192, 191, 184));
	background-image: linear-gradient(top, rgb(241, 240, 229), rgb(192, 191, 184));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f0e5', EndColorStr='#c0bfb8');
 	-webkit-box-shadow:0px 5px 10px 3px #2f0101; 
	-moz-box-shadow:0px 5px 10px 3px #2f0101; 
	-o-box-shadow:0px 5px 10px 3px #2f0101; 
	-ms-box-shadow:0px 5px 10px 3px #2f0101; 
	box-shadow:0px 5px 10px 3px #2f0101;
	
	border-top:solid 1px;
	border-top-color: #e3dfd0;	
}	

#nav > ul {	
	list-style-type: none;
	text-transform: uppercase;
	text-align: center;
	clear: left;
	float:left;
	position: relative;
	width: 960px;
	font-family: VegurBold, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18px; 
}
#nav > ul > li {
	display: block;
	float:left;
	margin: 0;
	list-style:none;
	position:relative;
	letter-spacing: .1em;
	width: 150px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 45px;
	/*cursor: pointer;*/
}
#nav > ul > li > a {
	display: inline-block;
	width: 150px;
	height: 46px;
}
#nav > ul > li > a:hover, #nav > ul > li > a:focus, #nav .current {
	background-color: #f4f3e7;
	-webkit-box-shadow: inset 0px 1px 11px 3px #bbbbbb;
	-moz-box-shadow: inset 0px 1px 11px 3px #bbbbbb;
	-o-box-shadow: inset 0px 1px 11px 3px #bbbbbb;
	-ms-box-shadow: inset 0px 1px 11px 3px #bbbbbb;
	box-shadow: inset 0px 1px 11px 3px #bbbbbb;
}

#nav > ul > li > a:link, #nav > ul > li > a:visited {
	color: #5e7b8b; /* metalic blue */
	text-decoration: none;
}
#nav > ul > li > a:hover, #nav > ul > li > a:active {
	text-decoration: none;
}
#nav a {
	outline: 0;
}
#nav_options {
	position: absolute;
	top: 46px;
	width: 960px;
	overflow: none;
	z-index: 1;
	clear: both;
	letter-spacing:0.1em;
}
#nav_options ul {
	background-color:#eee;/*#f6f3e5;/*off white color*/
	background: url(../img/bg-cloves.jpg);
	clear:left;
	float:left;
	position: relative;
	font-family: VegurRegular,Tahoma,Arial,Helvetica,sans-serif;
	font-weight: normal;
	width: 960px;
	font-weight: normal;
	list-style-type: none;
	text-align: left;
	padding-top: 12px;
	padding-bottom: 8px;
	left: 0px;
	text-align: center;
	display: none;
		box-shadow: inset 0px 0px 6px black;
		height: 34px;
		line-height: 16px;
		
}
#academics_opt .single_line_fix {
	line-height: 2.02em;
}
#admissions_opt .single_line_fix {
	line-height: 2.02em;
}
#students_opt .single_line_fix {
	line-height: 2.02em;
}
#alumni_opt .single_line_fix {
	line-height: 2.02em;
}
#resources_opt .single_line_fix {
	line-height: 2.02em;
}
#nav_options li {
        display: block;
        float:left;
        list-style:none;
        position:relative;
       	padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        width: 110px;
}
#nav_options a:link, #nav_options a:visited {
        font-family: VegurRegular, Tahoma,Arial,Helvetica,sans-serif;
	font-size: 0.8em;   
        font-weight:normal;
        color: #5e7b8b; /* metalic blue */ 
        text-decoration: none;
}
#nav_options a:hover, #nav_options a:active, #nav_options a:focus {
        color: #545342; /* drk grn */
        text-decoration: none;
}

/*--------------------------------------
 * Page Body
 *-------------------------------------*/
#pb_header {
	width: 100%;
}

#page_body {
	position: relative;
	width:100%;
	top: 0px;
	overflow:hidden;
	float: left;
	margin-bottom:25px;
}

/*--------------------------------------

			  JQ Slider
			
---------------------------------------*/
#jqSlidr {
	background-color: white;
}
/* Wheel */
.jqWheel {
	width:240px;
	overflow: hidden;
	height: 480px;
	float: left;
	background-color: white;
}
.jqWheelUl {
	height: 9999px;
	position: relative;
	top: 0;
	cursor: pointer;
}
.jqWheelLi {
	text-align:       center;
	width:            240px;
	height:           58px;
	padding-top:      10px;
	padding-bottom:   10px;
	margin:           0px;
	list-style:       none; /* circle outside none; */
	background:       url(../img/hr.gif) center bottom no-repeat;
	border:           solid transparent 1px;
	color:            black;
	letter-spacing:   2px;
	font-size:        19px;
	line-height:      30px;
	text-transform:   uppercase;
}
.jqWheelLi .jq2ndline {
	color:#625F49; /*dark green*/
	letter-spacing:2px;
	font-size:19px;
	display: block; 
	clear: both;
}

/* Carousel */
.jqCarousel {
	width:             720px;
	float:             left;
	height:            480px;
	overflow:          hidden;
	background:        url(../img/background4.jpg) no-repeat;
margin-bottom:     18px; /*it was 25px*/
	-webkit-box-shadow:0px 5px 10px 3px #2f0101; 
	-moz-box-shadow:   0px 5px 10px 3px #2f0101; 
	-o-box-shadow:     0px 5px 10px 3px #2f0101; 
	-ms-box-shadow:    0px 5px 10px 3px #2f0101; 
	box-shadow:        0px 5px 10px 3px #2f0101; 
}
.jqCarouselUl {
	position: relative;
	margin: 0px; padding: 0px;
	top:      0;
}
.jqCarouselLi {
	margin: 0px; padding: 0px;
	width:      720px;
	height:     480px;
	display:    block;
	overflow:   hidden;
}
/**
 * Inside the carousel li, we have two main blocks: jqImage and jqContent. Their
 * names are self-explanatory.
 **/
.jqImage {
	position: absolute;
	display: block;
	width: 360px;
	height: 480px;
}
.jqContent {
	position: absolute;
	display: block;
	width: 324px;
	height: 480px;
	background-color: #171717;
font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
	font-weight: 200;
	line-height: 17px; 
	color: #AAA;
	font-size: 11.5px;
	padding: 18px;
	/*delete me*/padding-top:120px;/*there needs to be some sort of vertical centering jquery or css that auto centers the content like auto margin does for the website horizontally*/ 
	/* http://www.youtube.com/watch?v=qnSzOUaDdx8 */
}
.jqLeft {
	left: 0px;
}
.jqRight {
	left: 360px;
}
.jqBackground {
	top:0;
	left:0;
	width:100%;
}
.jqBottom {
	width: 684px;
	height: auto;
	bottom: 0;
	left: 0;
	background: rgb(23,23,23);
	background: rgba(23,23,23,0.8);
}
/**
 * Be wary of modifying the jqPortrait img code. This code has the image
 * centered horizontally and vertically.
 **/
.jqPortrait img {
	/* What follows, centers the image */
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	/* What follows, gives it rounded edges */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 10px;
	border-radius: 5px;
}
.jqCarouselLi .jqTitle, .jqCarouselLi .jqHeader {
	position: relative;
	font-family:  "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	text-align: left;
	text-transform: uppercase;
}
.jqCarouselLi > .jqTitle, .jqCarouselLi > .jqHeader {
	font-size: 1.625em;
	font-weight: 400;
	color: #999;
	padding:18px;
	letter-spacing: 0.088em;
}
.jqContent .jq2ndline {
	color:white; /*dark green*/
}

.jqContent .jqTitle, .jqContent .jqHeader {
	font-size: 1.66em;
	font-weight: 200;
	color: #625F49;
	letter-spacing: 0.088em;
}
.jqCarouselLi .hr hr { display: none; visibility: hidden;}
.jqCarouselLi .hr {
	background: url(../img/car_hr.gif) no-repeat scroll center;
	background-size: 100%;
	height: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
	clear: both;
}
.jqReadMore {
	position: relative;
	font-family: "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding-top:10px;
	padding-bottom:10px;
	float: right;
color:#ffffff
}
.jqReadMore a { color:#AAA;}
.jqReadMore a:hover { color:#ffffff;}

.jqSocial {
}

.jqSocial ul {
	list-style-type: none;
	position: relative;
	width: 100%;
	margin: 0px; padding: 0px;
	text-align: center;
}
.jqSocial li {
	margin: 0px; padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	text-align: center;
color:#ffffff;
}
.jqSocial a {color:#ffffff}
.jqSocial a:active, .jqSocial a:link {color:#ffffff}

.jqSocial-icon {
	position: relative;
	height: 24px;
	background-image: url('../img/jqSocial.png');
	display: inline-block;
	top:-2px;
	margin-right: 4px;
}
.jq-Bookmark {
	background-position:0px 0px;
	width: 15px;
}
.jq-Facebook {
	background-position:-17px 0px;
	width: 19px;
	top: -3px;
}
.jq-Twitter {
	background-position: -38px 0px;
	width: 18px;
	top: -4px;
}


/*-----------------------
  jqSlider Title Styles
-----------------------*/

/*------------------------------------
	  Page Bottom Column Styles		
-------------------------------------*/
#pb_columns {
	width: 100%;
	display: block;
	clear:both;
	height: 270px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(192, 194, 196)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(192, 194, 196));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(192, 194, 196));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(192, 194, 196));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(192, 194, 196));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(192, 194, 196));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#c0c2c4');
	-webkit-border-bottom-left-radius: 1em;    
	-moz-border-radius-bottomleft: 1em;    
	-o-border-bottom-left-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-moz-border-radius-bottomright: 1em;    
	-o-border-bottom-right-radius: 1em;	
	-webkit-box-shadow:0px 5px 10px 3px #2f0101; 
	-moz-box-shadow:0px 5px 10px 3px #2f0101; 
	-o-box-shadow:0px 5px 10px 3px #2f0101; 
	-ms-box-shadow:0px 5px 10px 3px #2f0101; 
	box-shadow:0px 5px 10px 3px #2f0101;

	/* Defaults */
	font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;	
	color:#414042; /* dark grey */
	font-size: .90em;
}
/*-----------------------------------------
	 Main Styles
------------------------------------------*/
.pb_Title {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight:400;
	font-size: 3.05em;
	position: relative;
	left:-10px;
	margin-bottom: 14px; /*spacer below titles (stories,support,chapel)*/
	padding-top:7px;
	height: 60px; /*forces hr lower*/
	background: url(../img/hr.gif) bottom no-repeat;
}
#pb_columns li {
	margin-top: 12px;
	list-style: disc;
	font-size: 0.87em;
}

#pb_columns > div { /* this would include: #pb_col1, #pb_col2, #pb_col3, #pb_col4 */
	float: left;
	height: 270px;
}
#pb_col1, #pb_col2, #pb_col3 {
	width: 200px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 14px;
	font-weight: normal;
	letter-spacing: 0.02em;
}
/** Column 1 **/
#pb_col1 .pb_Title, #pb_col1 li, #pb_col1 .more { color: #3B8DB4; } /* teal */
#pb_col1 a { color:#414042; } /* dark grey */
#pb_col1 a:hover { text-decoration: underline; }
#pb_col1 .more {
	font-family: VegurMedium, Tahoma, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#pb_col1 .more:link, #pb_col1 .more:active, #pb_col1 .more:visited {
	background: url(../img/stories_arrow.gif) center right no-repeat;
	color:#3B8DB4; /*stories-teal*/
	float: right;
	padding-right:16px;
	margin-top:10px; 
}
#pb_col1 .more:hover {
	text-decoration: none;
	color:#414042; /*drk grey*/
	background: url(../img/grystories_arrow.gif) center right no-repeat;
}
/** Column 2 **/
#pb_col2 .pb_Title, #pb_col2 li { /* dark red */
	color:#6A2222;
}
#pb_col2 a { color: #414042; } /* dark grey */
#pb_col2 a:hover { text-decoration: underline; }
/** Column 3 **/
#pb_col3 .pb_Title, #pb_col3 li { /* Light brown */
	color:#BE8961;
}
#pb_chapelTitle, #pb_chapelText, #pb_chapelAuthor, .pb_footer {
	font-family: VegurMedium, Tahoma, Arial, Helvetica, sans-serif;
}
#pb_chapelTitle {
	font-size: 1.01em;
}
#pb_chapelText {
}
#pb_chapelAuthor {
	font-family: VegurRegular, Tahoma, Arial, Helvetica, sans-serif;
	font-size: .70em;
}
#pb_chapelFloat {
	float:left;
}
#pb_chapelDownload {
float: left;
padding-top: 2px;
padding-left: 7px;
}
#pb_col3 > a:active, #pb_col3 > a:hover, #pb_col3 > a:focus {
color:#222222;
}
.pb_footer {
	clear: both;
	position: relative;
	top: 40px;
	padding-top:10px;
	background: url(../img/hrcol3.gif) top no-repeat;	
	background-position-y: -1px;
	font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
}
.pb_footer a { color: #B3825B; } /* light brown */
.pb_footer a:hover { color: #BA6B31; /* brighter brown */ text-transform: underline; }

/** Column 4 **/
#pb_col4 {
	width: 228px;
	background-color: #f7f6e7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(247, 246, 231)), to(rgb(190, 191, 185)));
	background-image: -webkit-linear-gradient(top, rgb(247, 246, 231), rgb(190, 191, 185));
	background-image: -moz-linear-gradient(top, rgb(247, 246, 231), rgb(190, 191, 185));
	background-image: -o-linear-gradient(top, rgb(247, 246, 231), rgb(190, 191, 185));
	background-image: -ms-linear-gradient(top, rgb(247, 246, 231), rgb(190, 191, 185));
	background-image: linear-gradient(top, rgb(247, 246, 231), rgb(190, 191, 185));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f6e7', EndColorStr='#bebfb9');
	-webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;  
    -o-border-bottom-right-radius: 1em;
}


/*------------------------------------			
   Page Bottom Column: student links
-------------------------------------*/
#pb_col4, #pb_col4 a, #pb_col4 a:visited {
	font-weight: 400;
	font-size: 19px;
	color: #431211;
	text-transform: uppercase;
	font-family: VegurMedium, Tahoma, Arial, Helvetica, sans-serif;
}
#pb_col4 li {
	list-style-type: none;
	height: 38px;
	text-align: left;
	position: relative;
	top: 5px;
	left: 5px;
}

.imgleft {
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: middle;
}
/*------------------------------------
			   Footer
-------------------------------------*/
#page_footer {
	width: 100%;
}

#page_footer {
	width: 100%;
	float: left;
	font-family: VegurMedium, Tahoma, Arial, Helvetica, Sans-serif;
	color: white;
	text-transform: uppercase;
	letter-spacing: .01em;
	margin-bottom: 30px;
}
#page_footer ul {
        clear:left;
        float:left;
        position: relative;
        font-weight: normal;
        text-align: center;
        list-style-type: none;
        text-align: left;
        text-transform: uppercase;
        padding-left: 0;
	width: 960px;
	left: 0px;
	padding-top: 8px;
	padding-bottom: 25px;
}
#page_footer li {
	font-family: VegurRegular, Tahoma, Arial, Helvetica, Sans-serif;
	font-size:.9em;
	display: block;
	float: left;
	position: relative;
	text-align: center;
	width: 102px;  /* 100px causes ipad to double line height for "stay informed" footer link*/
	padding-left: 7px;
	padding-right: 10px;
}
#page_footer a:link, #page_footer a:active, #page_footer a:visited {
	color:#AAA;
	text-decoration: none;
}

#page_footer a:hover {
	text-decoration: none;
	color:#FFFFFF;
}
/*------------------------------------
		      Copyright
-------------------------------------*/
#page_copyright {
	font-family: VegurRegular, Tahoma, Arial, Helvetica, Sans-serif;
	font-size: .8em;
	width: 100%;
	text-align: center;
	clear: both;
	color: white;
	text-decoration: none;
}
#page_copyright a:link, #page_copyright a:visited, #page_copyright a:active, #page_copyright a:hover {
	font-weight: normal;
	color: #AAA;
}
#page_copyright a:hover {
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}
/*
 * Global class
 */
.brownlink:link, .brownlink:active, .brownlink:visited { color: #BE8961; text-transform: none; }
.brownlink:hover { color: #414042; text-transform: underline; }
.redlink:link, .redlink:active, .redlink:visited { color :#6A2222; text-transform: none; }
.redlink:hover { color: #414042; text-transform: underline; }
.bluelink:link, .bluelink:active, .bluelink:visited { color: #3b8db4; text-transform: none; }
.bluelink:hover { color #414042; text-transform: underline; }

/*------------------------------------
 * Special Font Faces
 *------------------------------------*/
@font-face {
	font-family: 'VegurRegular';
	src: url('../files/Vegur/vegur-regular-webfont.eot');
	src: url('../files/Vegur/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../files/Vegur/vegur-regular-webfont.woff') format('woff'),
	     url('../files/Vegur/vegur-regular-webfont.ttf') format('truetype'),
	     url('../files/Vegur/vegur-regular-webfont.svg@VegurRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
        font-family: 'VegurMedium';
        src: url('../files/Vegur/vegur-medium-webfont.eot');
        src: url('../files/Vegur/vegur-medium-webfont.eot?#iefix') format('embedded-opentype'),
             url('../files/Vegur/vegur-medium-webfont.woff') format('woff'),
             url('../files/Vegur/vegur-medium-webfont.ttf') format('truetype'),
             url('../files/Vegur/vegur-medium-webfont.svg@VegurRegular') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'VegurBold';
        src: url('../files/Vegur/vegur-bold-webfont.eot');
        src: url('../files/Vegur/vegur-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../files/Vegur/vegur-bold-webfont.woff') format('woff'),
             url('../files/Vegur/vegur-bold-webfont.ttf') format('truetype'),
             url('../files/Vegur/vegur-bold-webfont.svg@VegurRegular') format('svg');
        font-weight: normal;
        font-style: normal;
}
